/*menu styles*/
:root {
    --primary1: #471C3f;
    --primary2: #61435B;
    --primary3: #DF9ABB;
   
    --dark: #222222;
    --medium: #444444;
    --light: #efefef;
   
}
   
.menu ul {
   
    margin: 15px;
    padding-left: 0;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;

}

 .menu li {
    font-family: 'Outfit', sans-serif; 
    font-size: 20px;
    text-transform: lowercase;
}

.menu a{
  
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--light);
}

.menu a:hover, footer a:hover {
    color: var(--primary3);
    transition: all ease-in 200ms;
    text-decoration: underline;
}

.menu a:active {
    color: var(--primary3);
}

.menu a.active {
    color: var(--primary3);
}

footer a {
    color: var(--primary3);
    font-weight: 700;
    text-decoration: none;
}

.options{
    display: none;
    position: absolute;
    background-color: var(--primary2);
    border-radius: 4px;
    border: 1px solid var(--dark);
    font-size: smaller;
    filter: drop-shadow(1px 1px 1px var(--medium));
    min-width: 160px;
}

.available-dropdown:hover .options {
    display: block;
}

