/*menu styles*/
:root {
    --primary1: #471C3f;
    --primary2: #61435B;
    --primary3: #DF9ABB;
   
    --dark: #222222;
    --medium: #444444;
    --light: #efefef;
   
}
   
.menu ul {
    margin: 35px;
    padding-left: 0;
    list-style-type: none;

    display: flex;
    justify-content: space-around;
    
}

 .menu li {
    font-family: 'Outfit', sans-serif; 
    font-size: 20px;
    text-transform: lowercase;


}

.menu a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--light);

 
}

.menu a:hover {
    color: var(--primary3);
    transition: all ease-in 200ms;
    text-decoration: underline;
}

.menu a:active {
    color: var(--primary3);
}