/*
font-family: 'Outfit', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/*color variables*/
:root {
 --primary1: #471C3f;
 --primary2: #61435B;
 --primary3: #DF9ABB;

 --dark: #222222;
 --medium: #444444;
 --light: #CCCCCC;
}

/*base styles*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.container > * {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*font-sizes and rules*/
body{
    background-color: #e8e8e8;
    margin: 0;
}

body > * {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    filter: drop-shadow(1px 1px 1px var(--medium));
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 40px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 30px;
}

h4 {
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: var(--dark);

    text-align: left;
    margin: 3em;
}

/*layout styles for landing page*/
header { 
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--primary1);
    opacity: 90%;
}

.container > header{
    grid-column: 1/4;
}

section.summary {
    grid-column: 2/4;
}

section.summary h2{
   
}

.slideshow{
    text-align: center;
}

article.sidebar {
    margin: 120px auto;
    padding: 10px;
    max-width: 90%;

    grid-row: 1/2;
    background-color: #DF9ABB; 
    border-radius: 4px;

    display: flex;
    flex-direction: column; 
}

article.sidebar p, h2 {
    justify-content: space-around;
    margin: 10px;
    width: 85%;
}

.slideshow{
    height: 400px;
    width: 600px;
    overflow: hidden;
    margin: 10px auto;

}

 .mySlides {
    display: none;


  }

  #firstSlide{
      display: block;
  }


#dot-container{
    text-align: center;
    margin: 20px;

}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }


  .activedot, .dot:hover {
    background-color: #717171;
  }



.pet-of-the-day > img{
    width: 95%;
    margin: 10px;
}

/*pet page styles*/
.pet-gallery {
    margin-top: 100px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article.pets{
    grid-column: 1/4;
}

article.pets ul {
    text-align: left;
    list-style-type: none;
    padding-inline-start: 0;
}

.pet-gallery > div{
        width: 400px;
        margin: 20px;
}

.pet-gallery > div > h2{
    text-align: center;
}

/*form styles - adopt page &*/
section.adopt {
    margin: 50px auto;
    display: grid;
    grid-column: 1/4;
    font-size: smaller;
    max-width: 90%;
}

legend {
    max-width: 40%;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    margin-right: 100px;
}

input, textarea{
    margin: 5px auto;
}

#message, #subject{
    width: 100%;
}

.submit{
    margin: 10px auto;
}


footer {
    grid-column: 1/4;
    background-color: #471C3f; 
    opacity: 90%;
    color:white;
    max-width: 100vw;
    position: relative;
    bottom: 0;
}

footer p {
    font-size: 15px;
    color: #CCCCCC;
    max-width: 25%;
    margin: 3em auto;
}

/*responsive*/
@media (max-width:  1100px){
    .container { display: initial; }
    body > nav > ul > li > a {display: block;}
    h1 {margin-top: 100px;}
    footer p{
            max-width: 50%;
    }

}

@media (max-width:  900px){
    .slideshow{
        height: 300px;
        width: 400px;

    }
}

@media (max-width:  400px){
    .container { display: initial; }
    .container > * {text-align: center;}
    body > nav > ul > li > a {display: block;}
    section {margin-top: 100px;}
    .pets{display: initial;}
    .slideshow{
        height: 200px;
        width: 350px;

    }

}

 









