/*
font-family: 'Outfit', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/*color variables*/
:root {
 --primary1: #471C3f;
 --primary2: #61435B;
 --primary3: #DF9ABB;

 --dark: #222222;
 --medium: #444444;
 --light: #CCCCCC;
}

/*base styles*/
.container {
    
    background-color: #e8e8e8;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.container > * {
    font-family: 'Quicksand', sans-serif;

    
    display: flex;
    justify-content: center;
    align-items: center;

}


/*font-sizes and rules*/
h1 {
    filter: drop-shadow(1px 1px 1px var(--medium));
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 56px;
    text-align: center;
}

h2 {
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 45px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 35px;
}

h4 {
    font-family: 'Outfit', sans-serif;
    color: var(--primary1);
    font-size: 25px;
    text-align: center;
}

p {
    font-size: 20px;
    color: var(--dark);
    font-weight: 600;
    text-align: left;
    margin: 3em;
}

/*layout styles for landing page*/
header { 
    
    position: fixed;
    width: 100%;

    grid-column: 1/4; 
    background-color: var(--primary1);
    opacity: 90%;

  

}

section.summary {
   
    margin-top: 110px;
    grid-column: 2/4;


}

section.summary h2{
    text-align: center;
    margin-top: 2em;

}

.slideshow{
    text-align: center;
}

article.sidebar {
    margin-top: 120px;
    margin-left: 20px;

    grid-row: 1/2;
    background-color: #DF9ABB; 
    border-radius: 4px;

    display: flex;
    flex-direction: column; 
}

article.sidebar p, h2 {
    justify-content: space-around;
    margin: 10px;
    width: 85%;
}

.petcare, .pet-of-the-day {
    margin: 20px;

}

article.sidebar p {
    font-size: 18px;
}

/*pet page styles*/
article.pets {
    margin-top: 200px;
    display: flex;
    flex-direction: column;   
}

article.pets, h3 {
    text-align: center;
}

article.pets ul {
    text-align: left;
    list-style-type: none;
}

/*form styles - dropt page &*/
section.adopt {
    margin-top: 130px;
    display: grid;
    grid-column: 1/4;
    font-size: smaller;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    margin-right: 100px;
}


.adopt-title {
    flex-direction: column;
    max-width: 100%;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label{
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label + *{
  flex: 1 0 220px;
}




footer {
    grid-column: 1/4; 
    background-color: #471C3f; 
    opacity: 90%;
    color:white;
    max-width: 100vw; 
}

footer p {
    font-size: 15px;
    color: #CCCCCC;
    max-width: 25%;
}









